html,
body {
	background: rgb(255, 255, 255);
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.builder-sortable-helper {
	background-color: #fafafa;
	margin-left: 16px;
	box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
	/* background-color: rgba(255, 255, 255, 0.8); */
	border-radius: 4px;
	border: 1px solid #424242;
	height: inherit !important;
}

/* 색 반전을 위해 사용할 예정 */
html.invert {
	-webkit-filter: invert(); /* WebKit */
	filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='negative'><feColorMatrix values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#negative");
	filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1); /* IE 6-7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(invert=1)"; /* IE 8 */
}

/* 확대보기를 위해 사용할 예정 */
html.zoom120 {
	zoom: 120%;
}
